make.profile
repo.postsync.d
savedconfig/sys-apps/busybox-*
savedconfig/sys-firmware/ipxe-*
savedconfig/sys-kernel/gentoo-kernel-*
savedconfig/sys-kernel/linux-firmware-*
savedconfig/x11-misc/dmenu-*
